<section class="cx-wrapper">
<div class="c">
	{% render 'cx-sidebar' %}

	<div class="cx-content">
		<div class="payment-shipping">
			<div class="content-header">
				<h1 class="cx-title t-h-1">{{ page.title | escape }}</h1>
			</div>

			<div class="content-layout">
				{{ page.content }}
			</div>
		</div>
	</div>
</div>
</section>